.popover-medium {
   width: 500px;
   max-width:1500px;
   /*height: 450px;*/
}

.mapId{
 display: block;	
}

.mapName{
 display: block;	
}

.unstyled-link{
	text-decoration: none;
	color: inherit; 
}

div.tab-content>div.tab-pane>dl>*{
	margin-top:2%;
}