html {
  position: relative;
  min-height: 100%;
}

header{
	height: 100%;
	width: 100%;
}
header>a>img{
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;	
    background-color: #FFFFFF;
    font-family: Arial Unicode MS, Arial, sans-serif;
    margin: 0% 0% 5% 0%;
    /* bottom = footer height */
    padding-bottom:10%;
}

a {
	color: rgb(0, 0, 160);
}

.static-page{
	font-size: 1.3em;
}

.filter-fields {
	padding: 1% 0%;
	border-style: dashed;
}

.navbar-left{
	padding-left:5%;
}
.navbar-right{
	padding-right:5%;
	margin-bottom:0%;
}


.navbar-dsgn {
	background-color: #DDDDEE;
}

.navbar-default .navbar-nav > li > a {
	color: #3000FD;
	font-size: 1.5em;
	line-height: 1.42857143;
}

.navbar-default .navbar-nav > li > a:hover {
	color: white;
	background-color: #5c59d4;
}

.column-variant {
        background-color: #EEE6F9;
}

.column-gene {
        background-color: #DCDEF6;
}

.column-disease {
        background-color: #F8E3F5;
}

.column-association {
        background-color: #e4fbe3e6;
}
.ordered-by-variant{
       background: linear-gradient(to top, blue -20%, #EEE6F9 35% ,#EEE6F9 65% , blue  150%  );
       background: linear-gradient(to top, blue -20%, #EEE6F9 30% ,#EEE6F9 70% , blue  150%  );
}	

.ordered-by-gene{
       background: linear-gradient(to top,orange  #DCDEF6 30% ,#DCDEF6 70% , orange );
       background: linear-gradient(to top, blue -20%, #DCDEF6 30% ,#DCDEF6 70% , blue  150%  );
}	

.ordered-by-disease{
       background: linear-gradient(to top, orange , #F8E3F5  30%, #F8E3F5  70%  ,orange );
       background: linear-gradient(to top, blue -20%, #F8E3F5  30% , #F8E3F5  70% , blue  150%  );
}	

.ordered-by-association{
       background: linear-gradient(to top,orange,   #e4fbe3e6 30%, #e4fbe3e6 70%,  orange );
       background: linear-gradient(to top, blue -20%,  #e4fbe3e6        30% ,  #e4fbe3e6          70% , blue  150%  );
}	
.ui-autocomplete {
    max-height: 375px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: auto;
    padding-right: 20px;
    background: white;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: 2px;
}

.ui-autocomplete-loading {
	background:url('../images/ajax-loader.gif') no-repeat right center	
}

.popover{
	color:black;
}

.popover .arrow {
    display: none;
}

.ordered-by{
//	background-color: #E1E1E1;	
//	background-color: black;
       background: linear-gradient(to top, rgba(100, 100, 100, 0.0),  rgba(100, 100, 100, 0.3));
}	


.boxentity-toggle{
	margin-right:3px;
	display:inline-block;
	cursor: pointer;
	float: left;
}

.boxentity {
	width:25%;
	display: none; 
	margin-left:1%;
	float: left;
	position: absolute;
	z-index: 1000;
	padding: 2px 7px 1px 1px;
	display: none;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.boxentity dl {
    margin: 20px 20px;
}    
    

.boxentity .close {
     margin-top: 5px;
}

.dsgn-entity-table{
	margin-top:10%;
	margin-left:4%;
	margin-right:4%;
}

.dsgn-login-dropdown{
	color: black;
	width: 300%;
	height: 500%;
}

.dsgn-small-col{
	padding:8px 0px !important;
}

span.gene {
     background-color: #FF8000;
     color: white;
}

span.variant {
     background-color: #A31947;
     color: white;
}
span.disease {
     background-color: #7774D1;
     color: white;
}

span.negexp {
     background-color: #d5ff00;
     color: black;
}

table{
	table-layout:fixed;
}

td{
	padding-bottom:4px!important;
	word-wrap:break-word;	
}

.dsgn-trunc-hidd{
  width: 95%;
  height:100%;
  display:inline-block;
  /* need automatic multi-line height */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  
}

td.dsgn-gsvda > .dsgn-trunc-hidd{
	max-width:90%;
  	display:inline-block;
  	/* need automatic multi-line height */
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	word-wrap: break-word;
}

.dsgn-trunc-show{
	max-width:95%;
	word-wrap: break-word;	
}

.dsgn-trunc-expand{
	display:inline-block;
	position: absolute;
	margin-left: 2px;
}

.dsgn-table-popover{
	overflow: hidden;
	text-overflow: clip;
	white-space: normal;
}

.dsgn-button{
	background-color: #6764cc;
	color: white;
	font-size:1em;
}

.dsgn-alert{
	padding: 7px;
}

.dsgn-alert-no-results{
	padding: 7px;
}

.dsgn-alert-info{
	background-color: white;
	color: #6764cc;
	border-color: #6764cc;
	
}

.dsgn-alert .dsgn-alert-close{
	color: #6764cc!important;
	right: 0px!important;
	opacity: 0.7!important;
}

.dsgn-alert-close:hover{
	opacity: 0.9!important;
}

.dsgn-button:focus{
	background-color: #6764cc;
	color: white;
}

.dsgn-button:hover{
	background-color: white;
	color: #6764cc;
	border-color: #6764cc; 
	
}

.dsgn-input-glow:focus {
  border-color: #8d8bf0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(0, 0, 0, 0.8);
}

.dsgn-select-filter{
	color: black;
}

.dsgn-panel-browser{
	background-color: #E8E8E8!important;
	font-size: 0,5em;
}

.dsgn-label-disease{
	font-size:90%;
	border:2px;
	background-color: #FF00DE;
	cursor: pointer;
}

.dsgn-label{
	margin-right: -10px;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom:10px;
}

.dsgn-label-row2{
        height:20px;
	margin-top: 1px;
	margin-bottom:5px;
}


.dsgn-label-row{
        height:20px;
	margin-top: 5px;
	margin-bottom:5px;
}

.dsgn-label-gene{
	font-size:90%;
	border:2px;
	background-color: #0018FF;
	cursor: pointer;
	margin-right: 2px;
}

.dsgn-label-variant{
	font-size:90%;
	background-color: #8C52D8;
	cursor: pointer;
}

.dsgn-label-source{
	font-size:90%;
	background-color: #6764cc;
	color: white;
	cursor: pointer;
}

.dsgn-label-source.no-id{
	font-size:120%;
}

.dsgn-label-filter{
	font-size:90%;
	background-color: #13B148;
	cursor: pointer;
}

.dsgn-label-button{
	font-size:85%;
	cursor: pointer;
}

.dsgn-label-filter-checked{
	font-size:85%;
	cursor: pointer;
}

.round_input{
	border:3px solid black;
	
}


#search_id{
	resize: none;
	width:100%;
	height:100%;
	box-sizing: border-box;         /* For IE and modern versions of Chrome */
	-moz-box-sizing: border-box;    /* For Firefox                          */
	-webkit-box-sizing: border-box;
}

#add_remove_filter:active{
	background-color: white;
}

#add_remove_filter:focus{
}



input[type="text"]:disabled{background-color:#F9F9F9;}
select:disabled{cursor: not-allowed;}

.top1 { margin-top:1%; }
.top2 { margin-top:2%; }
.top3 { margin-top:3%; }
.top5 { margin-top:5%; }
.top7 { margin-top:7%; }
.top10 { margin-top:10%; }
.top15 { margin-top:15%; }
.top17 { margin-top:17%; }
.top30 { margin-top:30%; }

.bot1 { margin-bottom:1%; }
.bot2 { margin-bottom:2%; }
.bot3 { margin-bottom:3%; }
.bot5 { margin-bottom:5%; }
.bot7 { margin-bottom:7%; }
.bot10 { margin-bottom:10%; }
.bot15 { margin-bottom:15%; }
.bot17 { margin-bottom:17%; }
.bot30 { margin-bottom:30%; }


.dsgn-select-opt{
	max-width:15%;
}

.dsgn-select-filt{
	width:50%;
}

.dsgn-select-label{
	width:30%;
	text-align: right;
}

.dsgn-num-opt{
	width:25%;
}

.dsgn-num-filt{
	max-width:42%;
}

.input-xs {
  	line-height: inherit;
	height: 30px;
	margin-bottom: 1px;
	
}

.filters{
	margin: 2% 2% 2% 2%;
	border: 2px solid;
	border-radius: 25px;
	border-color: #6764cc;  
}	

.twitter-plugin{
	position: fixed;
	right: 2%;
}
	
.cookie-banner{
	margin: 0% 5%;
	background-color: pink;
	padding: 0% 1%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.navbar-default .navbar-toggle{
	background-color:#6764CC;
	border: 2px solid white;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:white;
}


.navbar-nav > li > a{
} 

.footer{
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 2% 2% 0% 2%;
}

.footer-partners img{
	height: 60px;
	width:auto;
}

#idbe.row{
	margin-right:0px;
}

#disgenet_logo{
}

.affix {
	top:10%;
    z-index: 9999 !important;
}

.affix-top{
	top:10%;
}

div.col-sm-9 div {
	font-size: 16px;
}

.nav.nav-pills.nav-stacked{
	font-size: 1em;
}

.justify-text{
	text-align: justify;
}

#logo_link{
    
}

#logo_link:hover{
	background-color:transparent;
}

#header{
	padding-top:2.8%;
	display:block;
	width:70%;
	height:auto;
}

table.panther-table{
	width:80%;
}

.panther-table th {
    background-color: #7774d1;
    color: #FFF;
    text-align: center;
    width: auto;
}

.panther-table td {
	padding-left: 2%!important;
	padding-right: 2%!important;
}

.dsgn-dl dt{
	overflow: visible;
	width: 170px;
}